In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv ('Insurance.csv')

In [3]:
dataset.isnull().any()

Age                                 False
Average Claims per Year (Rupees)    False
dtype: bool

In [4]:
dataset.dtypes

Age                                 int64
Average Claims per Year (Rupees)    int64
dtype: object

In [5]:
dataset.head()

   Age  Average Claims per Year (Rupees)
0   25                              4500
1   30                              5000
2   35                              6000
3   40                              8000
4   45                             11000

In [6]:
dataset.describe()

             Age  Average Claims per Year (Rupees)
count  10.000000                         10.000000
mean   47.500000                      24950.000000
std    15.138252                      29937.388367
min    25.000000                       4500.000000
25%    36.250000                       6500.000000
50%    47.500000                      13000.000000
75%    58.750000                      27500.000000
max    70.000000                     100000.000000

In [7]:
X = dataset.iloc [:,0].values
y = dataset.iloc [:,1].values

In [8]:
X

array([25, 30, 35, 40, 45, 50, 55, 60, 65, 70], dtype=int64)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state = 0)

X_train = X_train.reshape(-1,1)
X_test = X_test.reshape(-1,1)
y_train = y_train.reshape(-1,1)
y_test = y_test.reshape(-1,1)

C:\Users\armando_galeana\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [11]:
#Linear regression

from sklearn.linear_model import LinearRegression

In [12]:
LinR = LinearRegression()
LinR.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
#Polinomial

from sklearn.preprocessing import PolynomialFeatures # Features

# First create a polynomial
polyfeature = PolynomialFeatures(degree = 3)
Poly_Matrix = polyfeature.fit_transform(X_train)

# Now fit the polynomial matrix into linear regressor
LinR2 = LinearRegression()
LinR2.fit(Poly_Matrix, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
#Random Forest

from sklearn.ensemble import RandomForestRegressor

RFR = RandomForestRegressor()
RFR.fit(X_train, y_train)

C:\Users\armando_galeana\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [15]:
#Decision Tree

from sklearn.tree import DecisionTreeRegressor

DecTree = DecisionTreeRegressor(random_state=0)
DecTree.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=0, splitter='best')

In [16]:
#Support Vector

from sklearn.svm import SVR

SV = SVR()
SV.fit(X_train, y_train)

C:\Users\armando_galeana\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='auto',
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [17]:
print("Linear regression on age 43 is ",LinR.predict(43))
#print("Polynomial regression on age 43 is ",LinR2.predict(43))
print("Decision Tree regressor on age 43 is ",DecTree.predict(43))
print("Random Forest regressor on age 43 is ",RFR.predict(43))
print("Support vector regressor on age 43 is ",SV.predict(43))

Linear regression on age 43 is  [[17739.53033268]]
Decision Tree regressor on age 43 is  [11000.]
Random Forest regressor on age 43 is  [11300.]
Support vector regressor on age 43 is  [12999.98156095]

In [18]:
#Predictions

LinR_pred = LinR.predict(X_test)
DecTree_pred =DecTree.predict(X_test)
RFR_pred = RFR.predict(X_test)
SV_pred = SV.predict(X_test)

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
LinR_MSE = mean_squared_error(y_test, LinR_pred)
DecTree_MSE = mean_squared_error(y_test, DecTree_pred)
RFR_MSE = mean_squared_error(y_test, RFR_pred)
SV_MSE = mean_squared_error(y_test, SV_pred)

In [21]:
print("Linear regression MSE is ",LinR_MSE)
#print("Polynomial regression on age 43 is ",LinR2.predict(43))
print("Decision Tree regressor MSE is ",DecTree_MSE)
print("Random Forest regressor MSE is ",RFR_MSE)
print("Support vector regressor MSE is ",SV_MSE)

Linear regression MSE is  10685993.275148207
Decision Tree regressor MSE is  200500000.0
Random Forest regressor MSE is  36406250.0
Support vector regressor MSE is  708999999.9999987